:host {
  display: flex;
  width: 100vw;
  max-width: 100%;
  align-items: stretch;
  justify-content: center;
  min-height: 100%;
  position: relative;
  .main {
    max-width: 720px;
    width: 100%;
    display: flex;
  }
}
