/* You can add global styles to this file, and also import other style files */

html {
  font-size: 16px;
  box-sizing: border-box;
  background-color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
}

a {
  color: blue;
  text-decoration: underline;
}

.textheading {
  font-style: italic;
  font-weight: bold;
  color: blue;
}


input, select, textarea {
  border: 1px solid hsla(0, 0%, 50%, 0.6);
  border-radius: 2px;
  &.ng-invalid.ng-touched {
    &, option {
      background-color: hsl(10, 90%, 90%);
      border-color: hsl(10, 90%, 70%);
    }
  }
}
:root {
  --min-width: 375px;
  --response-1: 475px;
}



